* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    width: 500px;
    padding: 20px;
    background-color: #16161a;
}

.title-bar {
    width: 100%;
    background: #7f5af0;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.controls {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #72757e;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #4A4A8C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}

.controls button:hover {
    background: #3a3a72;
}

.controls textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    resize: none;
}

.hero {
    width: 100%;
    background: #242629;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#drop-area {
    width: 100%;
    height: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #bbb5ff;
    background: #242629;
    position: relative;
}

#drop-area.hover {
    border: 2px solid #4A4A8C;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: #4A4A8C;
    visibility: hidden;
    border-radius: 10px;
}

#drop-area.hover .overlay {
    visibility: visible;
}

#img-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-position: center;
    background-size: cover;
}

#img-view img {
    width: 70px;
    margin-top: 10px;
}

#img-view p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

#img-view span {
    font-size: 12px;
    color: #777;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: #fffffe;
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: #fffffe;
    margin-top: 20px;
    white-space: pre-wrap;  /* Preserve whitespace and allow wrapping */
}

button {
    background-color: #242629;
    border: 1px solid #777;
    border-radius: 0.25rem; /* Smaller border radius */
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem; /* Smaller font size */
    font-weight: 600;
    line-height: 1rem; /* Adjust line height */
    padding: 0.5rem 0.75rem; /* Smaller padding */
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
  
  button:hover {
    background-color: #777;
  }
  
  button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
  }
  
  button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
